<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

		<!-- swiper -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

		{% if pageInfo.title -%}
		<title>{{pageInfo.title}} | BUUK</title>
		{% else -%}
		<title>BUUK</title>
		{% endif %}
	</head>
	<body>
		<div class="wrapper">
			<!-- header -->
			{% include 'header.html' %}
			<!--// header -->

			<!-- content -->
			{% block content %}{% endblock %}
			<!-- //content -->

			<!-- floatingBtn -->
			{% include 'floatingBtn.html' %}
			<!-- //floatingBtn -->

			<!-- footer -->
			{% include 'footer.html' %}
			<!-- //footer -->
		</div>
	</body>
</html>
