.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	background-color: $primary-color;

	.header-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		max-width: 1300px;
		padding: 0 60px;
		margin: 0 auto;

		.logo {
			@include size(128px, 32px);
		}

		nav {
			.nav-list {
				display: flex;
				gap: 56px;
				.nav-item {
					.nav-link {
						display: block;
						padding: 6px 12px;
						color: #fff;
						span {
							position: relative;
							&::after {
								position: absolute;
								bottom: -6px;
								left: 0;
								display: inline-block;
								background-color: #fff;
								transition: width .3s ease-in-out;
								content: '';
								@include size(0, 2px);
							}
						}
					}
					&:hover {
						span {
							&::after {
								width: 100%;
							}
						}
					}
					&.active {
						span {
							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
